@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FIFA WORLD CUP</h1>
    <p>Bienvenido al software oficial para el control de los partidos del Mundial RUSIA 2018. aquí podrás ver, editar, agregar o eliminar algún partido.</p>
</div>
